* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.separator-line {
  width: 60px;
  height: 3px;
  margin: 40px auto 45px auto;
  background: #f38181;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

header {
  background-image: url("../images/header-bg.png");
  background-position: center center;
  height: 100%;
  background-size: cover;
  color: #fff;
}

.header-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.navbar .logo {
  width: 30%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.navbar nav {
  width: 70%;
}

.navbar nav ul {
  list-style: none;
  float: right;
}

.navbar nav ul li {
  float: left;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 25px;
}

.header-content {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content h2 {
  font-family: 'Kaushan Script';
  font-size: 72px;
  margin-bottom: 70px;
}

.header-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  line-height: 140px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.header-content .line {
  display: inline-block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 70px auto 50px auto;
}

.header-content .header-button {
  background: transparent;
  border: 3px solid #fff;
  padding: 12px 30px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
}

.header-navigation .nav-item {
  width: calc(4 * 100% / 4);
  margin-left: 30px;
}

.header-navigation .nav-item .line {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
}

.header-navigation .nav-item span {
  font-weight: bold;
  font-size: 24px;
}

.header-navigation .nav-item:first-child {
  margin-left: 0;
}

.header-navigation .nav-item.active,
.header-navigation .nav-item:hover {
  color: #fff;
  cursor: pointer;
}

.header-navigation .nav-item.active .line,
.header-navigation .nav-item:hover .line {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f38181), color-stop(25%, #fff));
  background: linear-gradient(to right, #f38181 25%, #fff 25%);
}

section.about-us {
  text-align: center;
  margin: 90px auto 110px auto;
}

section.about-us .title {
  color: #333333;
}

section.about-us .title h2 {
  font-size: 24px;
  font-family: "Kaushan Script";
  margin-bottom: 25px;
}

section.about-us .title h1 {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

section.about-us p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  width: 960px;
  margin: 0 auto 100px auto;
}

section.about-us .aboutus-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about-us .aboutus-images .box {
  margin-left: 30px;
  position: relative;
  background: #95e1d3;
  width: 380px;
  height: 250px;
}

section.about-us .aboutus-images .box img {
  -webkit-transition: margin .3s;
  transition: margin .3s;
}

section.about-us .aboutus-images .box .box-bg {
  width: 380px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #fce38a;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

section.about-us .aboutus-images .box.active img,
section.about-us .aboutus-images .box:hover img {
  margin-left: -20px;
  margin-top: -10px;
  -webkit-transition: margin .3s;
  transition: margin .3s;
}

section.about-us .aboutus-images .box.active .box-bg,
section.about-us .aboutus-images .box:hover .box-bg {
  margin-left: -10px;
  margin-top: -10px;
  z-index: 444;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

section.about-us .aboutus-images .box:first-child {
  margin-left: 0;
}

section.statics {
  background: #95e1d3;
}

section.statics .box {
  width: calc(100% * 1/5);
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-family: 14px;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 90px 0;
}

section.statics .box span {
  display: block;
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 30px;
}

section.statics .box:last-child {
  border-right: 0;
}
/*# sourceMappingURL=style.css.map */